#addService.modal.add-service__modal
    .modal__content 
        .modal__header 
            h2.modal__title Add service
            button.btn-close.modal__close(href='JavaScript:void(0)') 
                span.medid-icon-add

        .modal__body
            .add-service--group.form-group
                input#addServiceName.form-input(
                    required='',
                    autocomplete='off'
                )
                label.form-label(
                    for='addServiceName',
                    data-i18n='Resources.Global.Clients.Form.EventType'
                ) Service Name
                .form-border.error-surname 
            .add-service--group.form-group
                input#addServiceName.form-input(
                    required='',
                    autocomplete='off'
                )
                label.form-label(
                    for='addServiceName',
                    data-i18n='Resources.Global.Clients.Form.EventType'
                ) Service Name
                .form-border.error-surname 
            .add-service--group.form-group
                input#addServiceName.form-input(
                    required='',
                    autocomplete='off'
                )
                label.form-label(
                    for='addServiceName',
                    data-i18n='Resources.Global.Clients.Form.EventType'
                ) Service Name
                .form-border.error-surname 

        .modal__footer
            button.btn-blue.add-service__appear Применить
